/* === Aplicando CSS de forma global === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* === Aplicando CSS al encabezado === */
.bg-customNavegacion{
    background-color: #eff5f5; /* Para utlizar un color específico en la barra de inicio */
}

/* === Secciones === */
.encabezadoSeccion {
    padding: 2px 25px;
    background-color: #1f8a70;
    color: #fff;
}

/* === Aplicando CSS a la sección de noticias === */
.noticia h3 {
    text-decoration: underline;
}
.card-body{
    padding: 20px;
    background-color: #f5f5f5;
}
.row{
    width: 100%;
}

/* === Aplicando CSS al footer === */
footer {
    text-align: center;
    background-color: #181823;
    color: #FC7300;
}
#nombreEscuela, #contacto h2, #redes h2 {
    padding: 15px 0px;
}
#datos a, #redes ul li a {
    color: #FC7300;
}
#redes ul {
    display: flex;
    justify-content: space-evenly;
}
#botonInicio a ion-icon{
    position: fixed;
    color: black;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, .5);
}

/*=== Aplicando comportamiento resposive o adaptativo===*/
/* Small devices (767 and below) */
@media (max-width: 767px) {
    /* === Aplicando CSS al body === */
    /* === Secciones === */
    #nosotros div p, #propuesta div p, .noticias {
        padding: 0px 0px 3px;
        margin: 0px 25px 20px;
    }
    #elegirnos div ul li {
        padding: 0px 0px 3px;
        margin: 0px 25px 5px;
        list-style-type: disc;
    }
    #nosotros div img, #propuesta div img, #elegirnos div img, .noticia img {
        width: 30%;
        display: block;
        margin: 0px auto;
    }

    /* === Noticias === */
    .noticia {
        margin: 15px 15px 30px;
    }

    /* === Aplicando CSS al footer === */
    footer {
        padding-bottom: 15px;
    }
    #nombreEscuela, #contacto h2, #redes h4 {
        font-size: 1.2rem; /*19,2px*/
    }
    #redes ul {
        font-size: 2.5rem; /*40px*/
    }
    #datos p {
        font-size: 1.2rem; /*19,2px*/
    }
    #botonInicio a ion-icon{
        font-size: 3rem;
        bottom: 20px;
        right: 20px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /* === Aplicando CSS al body === */
    /* === Secciones === */
    #nosotros, #elegirnos, #propuesta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nosotros div p, #propuesta div p {
        float: left;
        width: 60%;
        padding: 5px 0px;
        margin: 0px 25px 5px;
    }
    #nosotros div img, #propuesta div img {
        padding: 10px 0px;
        float: right;
        width: 15%;
        margin-right: 25px;
    }
    #elegirnos div ul li {
        float: right;
        width: 60%;
        list-style-type: disc;
        padding: 4px 0px;
        margin: 0px 25px 5px;
    }
    #elegirnos div img {
        padding: 10px 0px;
        float: left;
        width: 15%;
        margin-left: 25px;
    }

    /* === Noticias === */
    .noticia{
        margin: 20px 10px 100px;
    }
    .noticia img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    /* === Aplicando CSS al footer === */
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #redes ul {
        font-size: 2rem; /*24px*/
    }
    #datos p, #nombreEscuela p {
        font-size: 1rem; /*16px*/
    }
    #datos p a {
        text-decoration: underline;
    }
    #botonInicio a ion-icon{
        font-size: 3rem;
        bottom: 50px;
        right: 50px;
    }

}